.body {
    background-color: aqua;
    width: 1920px;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.container{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 375px;
    height: 667px;
    
} 
  



          /* BARRA DO TOPO */

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);

}

.top img {
margin-left: 20px;
}

.top ion-icon {
  font-size:  42px;
  margin-right: 20px;
  cursor: pointer;
} 



                /* CHAT DO UOL */
.chat{
    width: 100%;
    height: 550px;
    background-color: #E5E5E5;
}

.mensagemstatus .entrou {
    width: 100%;
    height: 40px;
    background-color: #DCDCDC;
    display: flex;
    align-items: center;
}
.entrou a {
  font-size: 14px;
  font-weight: bold;
}


.mensagemstatus a {
    margin-left: 10px;
}
.mensagemreservada {
    width: 100%;
    height: 63px;
    background-color: #FFDEDE;

}
.mensagemreservada a {
    margin-left: 10px;
}
.mensagem {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;

}
.mensagem a {
    margin-left: 10px;
}


              /* BARRA INFERIOR */ 

.footer {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
 
}


.footer ion-icon {
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
    
}

.footer input {
   
    width: 280px;
    height: 40px;
    margin-left: 10px;

}